openapi: 3.0.2
info:
    title: Hack&Change 2025 - 404
    version: 0.2.4
servers:
    - url: http://localhost:8080/api/v1
paths:
    /register:
        post:
            summary: Метод регистрации
            security: []
            tags:
                - Авторизация
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/RegisterData"
            responses:
                "200":
                    description: Успешная регистрация
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Success"
                "default":
                    description: Все нестандартное
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
    /login:
        post:
            summary: Метод авторизации
            security: []
            tags:
                - Авторизация
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/LoginData"
            responses:
                "200":
                    description: Успешная регистрация
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Success"
                "default":
                    description: Все нестандартное
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /courses:
        get:
            summary: Метод получения списка курсов
            security:
                - bearerAuth: []
            tags:
                - Курсы
            responses:
                "200":
                    description: Успешный запрос
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Course"

    /last-lesson:
        get:
            summary: Метод получения последнего урока
            security:
                - bearerAuth: []
            tags:
                - Уроки
            responses:
                "200":
                    description: Успешный запрос

    /tests:
        get:
            summary: Метод получения списка доступных тестов
            security:
                - bearerAuth: []
            tags:
                - Тесты
            responses:
                "200":
                    description: Успешный запрос

                "default":
                    description: Все нестандартное

    /question:
        post:
            summary: Метод получения первого вопроса теста
            security:
                - bearerAuth: []
            tags:
                - Тесты
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                test_id:
                                    type: integer
                                    example: 52
                            required:
                                - test_id
            responses:
                "200":
                    description: Успешный запрос

                "default":
                    description: Все нестандартное

    /check-question:
        post:
            summary: Метод проверки результата вопроса и получение следующего
            security:
                - bearerAuth: []
            tags:
                - Тесты

            responses:
                "200":
                    description: Успешный запрос

                "default":
                    description: Все нестандартное

    /statistics:
        get:
            summary: Метод получения статистики пользователя
            security:
                - bearerAuth: []
            tags:
                - Статистика

            responses:
                "200":
                    description: Успешный запрос
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Statistics"

components:
    schemas:
        Success:
            type: object
            properties:
                status:
                    type: string
                    example: ok

        Error:
            type: object
            properties:
                error:
                    type: string
                    example: user not found

        RegisterData:
            type: object
            properties:
                firstName:
                    type: string
                    example: Сергей
                lastName:
                    type: string
                    example: Шевалдышев
                email:
                    type: string
                    example: test@mail.com
                password:
                    type: string
                    example: password123
            required:
                - firstName
                - lastName
                - email
                - password

        LoginData:
            type: object
            properties:
                email:
                    type: string
                    example: test@mail.com
                password:
                    type: string
                    example: password123
            required:
                - email
                - password

        Statistics:
            type: object
            properties:
                lessonsDone:
                    type: integer
                    example: 74
                homeworksRequired:
                    type: integer
                    example: 3
                expiredDedllines:
                    type: integer
                    example: 1

        Course:
            type: object
            properties:
                title:
                    type: string
                    example: Modern WebDeveloper 2025
                lessonsDone:
                    type: integer
                    example: 4
                lessonsAmount:
                    type: integer
                    example: 32
                notifications:
                    type: integer
                    example: 3
                lastUpdate:
                    type: string
                    example: "25.11.25"

    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT

security:
    - bearerAuth: []
