services:
    db:
        image: postgres:16
        restart: always
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        ports:
            - "5432:5432"
        volumes:
            - db_data:/var/lib/postgresql/data
            - ./postgres_backups:/backups  # мб в будущем задумаемся о бэкапах
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
            interval: 2s
            timeout: 3s
            retries: 10

    api:
        build: .
        restart: on-failure
        depends_on:
            db:
                condition: service_healthy
        ports:
            - "8080:8080"
        environment:
            - DATA_PATH=/app/data
        volumes:
            - ./app_data:/app/data
        healthcheck:
            test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/health"]
            interval: 30s
            timeout: 10s
            retries: 3

volumes:
    db_data:
