.header1 {
    font-family: 'Seymour One', serif;
    font-size: clamp(24px, 3.06vw, 44px);
}

.header2 {
    font-family: 'Seymour One', serif;
    font-size: clamp(20px, 2.22vw, 32px);
}

.header3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: clamp(18px, 1.81vw, 26px);
}

.header4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: clamp(16px, 1.39vw, 20px);
}

.header5 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: clamp(14px, 1.25vw, 18px);
}

.psubtitle {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: clamp(14px, 1.25vw, 18px);
}

.pbody {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: clamp(14px, 1.11vw, 16px);
}

.pbodysmall {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: clamp(12px, 0.97vw, 14px);
}

.pcaption {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: clamp(12px, 0.97vw, 14px);
}
